body{
    padding: 20px;
    margin: 0 auto;
    font-size: 18px;
}
#mapInit{
    width: 100%;
    box-sizing: border-box;
    overflow-x: auto;
}
form {
    text-align: center;
}
input[type="text"]:focus{
    vertical-align: middle;
}
#br1 {
    display: none;
}
.dispcheck {
    display: none;
}
button{
    vertical-align: middle;
    box-sizing: border-box;
    outline: none;
    font-size: 18px;
}
button:focus{
    outline: 0 !important;
    box-shadow: none;
}
#table1{
    width: 100%;
}
table, th, td{
    border: 1px solid black;
    border-collapse: collapse;
    padding: 10px;
    text-align: center;
}
tr:hover {
    background-color: #CCE5FF;
}
tr th {
    background-color: #f2f2f2;
}
p {
    text-align: center;
    width: 100%;
    padding: 10px;
    display: none;
    background-color: beige;
}
#map {
    width: 100%;
    align-content: center;
    height: 500px;
}
#res {
    float: right;
}
#mu {
    float: right;
}