body{
    padding: 20px;
    margin: 0 auto;
}
#mapInit{
    width: 100%;
    box-sizing: border-box;
    overflow-x: auto;
}

input[type="text"]{
    vertical-align: middle;
    border: 0;
}

button{
    vertical-align: middle;
    box-sizing: border-box;
}

#table1{
    width: 100%;
}
table, th, td{
    border: 1px solid black;
    border-collapse: collapse;
    padding: 12px;
    text-align: center;
}
tr:hover {
    background-color: #CCE5FF;
}
#map {
    width: 100%;
    align-content: center;
    height: 500px;
}